
    <!-- inner banner -->
    <section class="services-inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4">
                <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Services</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Services</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
    <!-- home page service grids -->
    <section class="home-services py-5" id="services">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:700px;">
                <h5 class="small-title mb-2">Best Services</h5>
                <h3 class="title-style">More than 30+ years we provide business consulting</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="box-wrap">
                        <div class="icon">
                            <i class="fas fa-donate"></i>
                        </div>
                        <h4 class="number">01</h4>
                        <h4><a href="">Tailored Hiring & Consulting Solutions That Drive Business Success</a></h4>
                        <p>At NIyantrixAI, we offer a comprehensive suite of recruitment and HR consulting services designed to support both job seekers and organizations in achieving their goals.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="box-wrap">
                        <div class="icon">
                            <i class="fas fa-marker"></i>
                        </div>
                        <h4 class="number">02</h4>
                        <h4><a href="">Corporate Hiring Solutions</a></h4>
                        <p>Whether you're a startup scaling rapidly or a large enterprise seeking niche expertise, we help you find the right talent. Our recruitment process is personalized to your company’s culture, values, and strategic vision — from resume screening and interviews to final offer negotiation.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="box-wrap">
                        <div class="icon">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <h4 class="number">03</h4>
                        <h4><a href="">ERP & CRM Staffing</a></h4>
                        <p>We source top-tier professionals across major ERP and CRM platforms like SAP, Oracle, and Microsoft Dynamics. From technical to functional roles, we provide experienced consultants who can support implementation, customization, and ongoing operations.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="box-wrap">
                        <div class="icon">
                            <i class="fas fa-calculator"></i>
                        </div>
                        <h4 class="number">04</h4>
                        <h4><a href="">Technology Talent Acquisition</a></h4>
                        <p>Our tech hiring solutions cover a wide range of roles in custom software development, frontend/backend engineering, DevOps, and full-stack development. We ensure you get candidates with the right skill set and mindset to drive innovation.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="box-wrap">
                        <div class="icon">
                            <i class="fas fa-ruler-combined"></i>
                        </div>
                        <h4 class="number">05</h4>
                        <h4><a href="#url">Data & Analytics Recruitment</a></h4>
                        <p>In the age of data-driven decisions, we help you find specialists in data analysis, BI tools, data engineering, and AI/ML, enabling your organization to extract insights and create value from large data sets.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="box-wrap">
                        <div class="icon">
                            <i class="fas fa-edit"></i>
                        </div>
                        <h4 class="number">06</h4>
                        <h4><a href="#url">Cloud Technology Experts</a></h4>
                        <p>Whether you operate on AWS, Azure, or Google Cloud Platform (GCP), we can connect you with professionals experienced in cloud architecture, migration, and infrastructure management to support your digital transformation journey.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //home page service grids -->

    <!-- content block -->
    <section class="w3l-content1 py-5">
        <div class="container py-md-5 py-sm-4 py-2">
            <div class="row py-4">
                <div class="col-lg-7">
                    <h3 class="title-style text-white">💡 Why Choose Us?</h3>
                    <p class="mt-4 text-light">NIyantrixAI is more than a hiring agency — we are your strategic partner in workforce planning, talent acquisition, and business transformation. Let us help you build a high-performing team that powers your success.</p>
                    <a href="contact.html" class="btn btn-style mt-md-5 mt-4">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //content block -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
    <!-- 3grids with bg-image section -->
    <div class="w3l-homeblock3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:700px;">
                <h5 class="small-title mb-2">What we do?</h5>
                <h3 class="title-style">We Build Teams That Shape the Future</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="top-pic1">
                        <div class="card-body blog-details">
                            <span class="meta-value">Talent Acquisition</span>
                            <a href="blog-single.html" class="blog-desc">Strategic hiring solutions for tech, ERP, cloud, and business roles — tailored to your growth goals.
                            </a>
                            <a href="blog-single.html" class="btn btn-style-primary btn-style text-white mt-4">Read
                                More<i class="fas fa-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="top-pic2">
                        <div class="card-body blog-details">
                            <span class="meta-value">Workforce Strength Solutions</span>
                            <a href="blog-single.html" class="blog-desc">Scalable staffing support to build resilient, future-ready teams.
                            </a>
                            <a href="blog-single.html" class="btn btn-style-primary btn-style text-white mt-4">Read
                                More<i class="fas fa-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="top-pic3">
                        <div class="card-body blog-details">
                            <span class="meta-value"> ERP & Cloud Staffing </span>
                            <a href="blog-single.html" class="blog-desc">Specialized talent for ERP implementations and cloud infrastructure across SAP, Oracle, AWS, Azure & GCP.


                            </a>
                            <a href="blog-single.html" class="btn btn-style-primary btn-style text-white mt-4">Read
                                More<i class="fas fa-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //3grids with bg-image section -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>